{% extends "network/layout.html" %}
{% load static %}
    {% block header %}
        <script src="{% static 'network/preview_image.js' %}"></script>
        <style>
            body {
                min-height: 100vh;
                margin: 0;
                padding: 0;
                overflow-y: auto;
                /*https://uigradients.com/#WhatliesBeyond*/
                background: #F0F2F0;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to bottom, #F0F2F0, #000C40);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to bottom, #F0F2F0, #000C40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
        </style>
    {% endblock %}

{% block body %}
{% if ERROR %}
    <div class="container mt-3">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            ⚠︎{{ ERROR }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endif %}

  <div class="d-flex justify-content-center align-items-start py-5">
    <div class="card new-post-card">
      <div class="card-body">
        <h5 class="card-title text-center mb-3">New Post</h5>
        <div class="mb-3 text-center" id="preview_block" style="display: none;">
            <img 
                id="preview" 
                alt="Image Preview" 
                class="img-fluid d-block mx-auto"
                style="
                    max-height: 300px;
                    max-width: auto;     
                    width: auto;         
                    object-fit: contain;  
                    border: 1px solid #ccc;
                    border-radius: 4px;">
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">Post Title</label>
            <input class="form-control" id="title" name="title" placeholder="Title" type="text">
          </div>

          <div class="mb-3">
            <label for="content" class="form-label">Post Content</label>
            <textarea class="form-control" id="content" name="content" rows="4" placeholder="Write your post..."></textarea>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Image (Optional )</label>
            <input class="form-control" type="file" id="image" name="image" accept="image/*">
          </div>

          <div>
            <input type="submit" class="btn btn-primary w-100" value="Post">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}